<h1><b><u><%= @recipe.name %>:</u></b></h1>
<h4>
<b>Description:</b>
<br>
<span style="padding-left: 20px; display:block"><%= @recipe.description %></span>
<br>
<b>Ingredients:</b>
<% if @recipe.ingredients.any?() %>
  <ul>
  <% @recipe.ingredients.each() do |ingredient| %>
    <li><%= ingredient.amounts.first.quantity() %> <%= ingredient.name() %> </li>
  <% end %>
  </ul>

<% else %>
<span style="padding-left: 20px; display:block"><p>You have no ingredients for this recipe. Add one below!</p></span>
<% end %>
<b>Instructions:</b>
<br>
<span style="padding-left: 20px; display:block"><%= @recipe.instructions() %></span>
<br>
<b>Rating:</b>
<br>
<% if @recipe.rating != nil %>
<span style="padding-left: 20px; display:block"><%= @recipe.rating %> STARS!</span>
<% end %>
<br>
<b>Categories:</b>
<% if @recipe.categories.any?() %>
  <ul>
    <% @recipe.categories.each() do |category| %>
    <li><%= category.name() %> </li>
    <% end %>
  </ul>
<% end %>
</h4>
<br>
<br>

<center>
  <a href="/recipe/<%= @recipe.id %>/edit" class="btn btn-info" role="button">Update Recipe</a>
</center>

<br>
<br>

<form action="/recipe/<%= @recipe.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn-danger btn" type="submit">DELETE RECIPE</button>
</form>
<br>

<a href="/">Home</a>
